@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: #97909070;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1d6f2b;
}

@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline black;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* ============= NavLink active End here ================ */

.item-selected {
  border-color: #5d636f;
}

/* disable ant model footeer */
.ant-modal-footer {
  display: none;
}

/* @import "antd/dist/antd.css"; */

.ant-tabs-tab-active {
  /* background: #ffff; */
  color: #1d6f2b;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #1d6f2b;
  pointer-events: none;
}

/* change antd button model */
.ant-btn-default {
  font-weight: bold;
  background: #ffff;
  color: #1d6f2b;
  border: 1px solid #1d6f2b;
}
.ant-btn-default:hover {
  color: #1d6f2b;
  border: 1px solid #1d6f2b;
}
.ant-btn-primary:hover {
  background: #1d6f2b;
  color: white;
}
.ant-btn:focus {
  border: 1px solid #1d6f2b;
  color: #1d6f2b;
}
.ant-btn-primary:focus {
  border: 1px solid #1d6f2b;
  color: white;
  background-color: #1d6f2b;
}

.ant-btn-primary {
  font-weight: bold;
  color: white;
  background: #1d6f2b;
  border: none;
}
.ant-upload {
  border: none;
}
.ant-upload:hover {
  border: none;
}
/* modify input border */
.ant-input:hover {
  border: 1px solid #1d6f2b;
  box-shadow: #1d6f2b;
}
.ant-input:focus {
  border: 1px solid #1d6f2b;
}
/* disable antd footer Buttons */
.ant-modal-footer {
  display: none;
}
.ant-upload-list-item-name {
  display: none;
}
.ant-upload-span:nth-child(2) {
  display: none;
}
.ant-upload-list-item-name::after {
  border: 1px solid #1d6f2b;
}
.ant-upload-list-item-name {
  display: none !important;
}
.ant-upload-list-picture {
  display: flex !important;
  flex-wrap: wrap !important;
}

/* disable border on upload icon */
.ant-upload {
  border: none !important;
}

/* change inputs icons */
.ant-select-arrow {
  color: black;
}
.anticon-calendar {
  color: black;
}

/* hide first column on table product */
/* .ant-table-selection-column {
  background-color: black;
  display: none !important;
} */

.ant-layout-sider-trigger {
  background-color: #1d6f2b !important;
  color: white !important;
  display: none !important;
}
.capitalize-first::first-letter {
  text-transform: uppercase !important;
}

.ant-modal-mask {
  background-color: #8c8c8c !important;
  opacity: 0.1 !important;
}

.ant-menu-title-content {
  color: #1d6f2b;
  font-weight: bold;
}
